@font-face {
  font-family: Open-Sans;
  src: url(../fonts/Open-Sans-Semibold.ttf);
}
@font-face {
  font-family: Lora-Bold;
  src: url(../fonts/Lora-Bold.ttf);
}
@font-face {
  font-family: Sans Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}